<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>input_khoa_servlet</display-name>
    <servlet-name>input_khoa_servlet</servlet-name>
    <servlet-class>input_khoa_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>input_khoa_servlet</servlet-name>
    <url-pattern>/input_khoa_servlet</url-pattern>
  </servlet-mapping>
  <display-name>SinhVien</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>chinh_sua_thong_tin_servlet</display-name>
    <servlet-name>chinh_sua_thong_tin_servlet</servlet-name>
    <servlet-class>chinh_sua_thong_tin_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chinh_sua_thong_tin_servlet</servlet-name>
    <url-pattern>/chinh_sua_thong_tin_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>them_sinh_vien_servlet</display-name>
    <servlet-name>them_sinh_vien_servlet</servlet-name>
    <servlet-class>them_sinh_vien_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>them_sinh_vien_servlet</servlet-name>
    <url-pattern>/them_sinh_vien_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processing_add_servlet</display-name>
    <servlet-name>processing_add_servlet</servlet-name>
    <servlet-class>processing_add_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processing_add_servlet</servlet-name>
    <url-pattern>/processing_add_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processing_update_servlet</display-name>
    <servlet-name>processing_update_servlet</servlet-name>
    <servlet-class>processing_update_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processing_update_servlet</servlet-name>
    <url-pattern>/processing_update_servlet</url-pattern>
  </servlet-mapping>
</web-app>